{% extends "layout.html" %}
{% block content %}
    <h1>this is the build a plate screen</h1>
    <label for="meal-type">Which meal are we building?</label>
    <select id="meal-type" class="form-control">
        <option value="breakfast">Breakfast</option>
        <option value="lunch" selected>Lunch</option>
        <option value="dinner">Dinner</option>
    </select>
    <button id="build-plate-button">Build me a plate!</button>
    <div id="meal-output-container"></div>
    
{% endblock content %}