{% extends "layout.html" %}
{% block content %}
    <h1>Welcome to CampusPlate!</h1>
    <h2>Get started by <a href="/proxy/5000/register">creating an account</a> with your macros.</h2>
    <p>Then, navigate to <a href="/proxy/5000/build_a_plate">Build a Plate </a>to see what to eat!</p>
    <p>See previous meals in <a href="/proxy/5000/previous_meals">Previous Meals</a></p>
    <p>Update your macros or fitness goal in your <a href="/proxy/5000/account">account</a> page!</p>
{% endblock content %}