{% extends "layout.html" %}
{% block content %}
    <div class="home">
        <h1>Welcome to CampusPlate!</h1>
        <p>CampusPlate is a website where you'll be able to eat at your university dining halls without having to worry about staying on track on your fitness goals!</p>
        <h2>Get started by <a href="/sign_up">creating an account</a> with your macros.</h2>
        <h2>Or, if you already have an account, <a href="/login">login!</a></h2>
        <p>Then, navigate to <a href="/build_a_plate">Build a Plate </a>to see what to eat!</p>
        <p>See previous meals in <a href="/previous_meals">Previous Meals</a></p>
        <p>Update your macros or fitness goal in your <a href="/account">account</a> page!</p>
    </div>
{% endblock content %}