{% extends "layout.html" %}
{% block content %}
    <div class="login-wrapper">
        <h1>Create an Account</h1>
        <form id="signup-form" class="login-box">
            <div id="form-group">
                <label>Username </label>
                <input type="text" id="username" required>
            </div>
            <div id="form-group">
                <label>Email </label>
                <input type="text" id="email" required>
            </div>
            <div id="form-group">
                <label>Password </label>
                <input type="text" id="password" required>
            </div>
            <button type="submit" id="sign-up-button">Sign Up</button>
        </form>
    </div>

{% endblock content %}